<%-include  ("partials/header")-%>

<div>
    <h1>Show page</h1>
    
</div>
<h1><%=campground.name%></h1>

<img class="figure-img img-fluid rounded" src="<%=campground.image%>">

<p><%=campground.description%></p>



<%-include  ("partials/footer")-%> 